[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
whitenoise = "*"
pillow = "*"
django-crispy-forms = "*"
django-filter = "*"
django-ckeditor = "*"
django-storages = "*"
boto3 = "*"
crispy-bootstrap4 = "*"

[dev-packages]

[requires]
python_version = "3.10"
